/* Sử dụng lại CSS từ ReportForm */
@import './ReportForm.css';

/* CSS riêng cho ViewReport */
.report-modal input:disabled,
.report-modal textarea:disabled {
  background-color: #e5e5e5;
  color: #666;
  cursor: not-allowed;
}

.report-modal .location-btn:disabled {
  background-color: #e5e5e5;
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.report-modal .checkbox-label input:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.report-modal .checkbox-label input:disabled ~ span {
  color: #666;
}
/* Style cho nút chỉnh sửa khi bị disable */
.submit-btn.disabled,
.submit-btn:disabled {
  background-color: #e5e5e5;
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}

.submit-btn.disabled:hover,
.submit-btn:disabled:hover {
  background-color: #e5e5e5;
  transform: none;
  box-shadow: none;
}